/* General styling */
body {
    background: linear-gradient(360deg, rgba(0, 11, 23, 0.797), rgba(0, 25, 52, 0.718)), url('background.jpg') center no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.glass-card {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    transition: all 0.3s ease-in-out;
    margin: 10px;
}


.card-title {
    color: #fff;
    font-weight: bold;
}

.form-control {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
}

.form-control:focus {
    background: rgba(255, 255, 255, 0.2);
    border-color: #007bff;
    box-shadow: none;
    color: #fff;
}

.btn {
    background: #007bff;
    border: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background: #0056b3;
}

#statusResult {
    font-weight: bold;
    color: White !important;

}

.text-success {
    background: #008c21;
    color: White !important;
    padding: 5px;
    font-size: inherit;
}

.text-warning {
    background: #ffc107 !important;
    color: White !important;
    padding: 5px;
    font-size: inherit;
}

.text-danger {
    background: #dc3545 !important;
    color: White !important;
    padding: 5px;
    font-size: inherit;
}

/* Add smooth transitions */
#usernameInput,
#statusResult {
    transition: all 0.3s ease;
}

/* Glassmorphism effect */
.result {
    background: #ffffff1a; /* Transparent white background */
    border-radius: 5px; /* Rounded corners */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Light border for the table */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for better visibility */
    padding: 8px;
    margin: 10px 0;
    display: flex;
    text-align: center;
    justify-content: center;
}